#menu{
	position: absolute;
	left: 0%;
	top: 0%;	
	width: 20%;
	height: 100%;
	border-radius: 10px;
	background-color: #EEEEEE;
}

#content{
	position: absolute;
	left: 20%;
	width: 80%; 
	border-radius: 30px;
	background-color: #faf0f0;
}



.dropAddress{
	background-color: #E99090;
	display: inline;
	cursor: pointer;
}
/*
.dropAddress:hover{
	background-color: #DB4D4D;
}


.dropAddress:hover::after{
	background-color: #DB4D4D;
	content: "Заблокировать адрес";
	cursor: pointer;
}
*/

.acceptAddress{
	background-color: #6DD987;
	display: inline;
	cursor: pointer;
}
/*
.acceptAddress:hover{
	background-color: #1AE04A;
}

.acceptAddress:hover::after{
	background-color: #1AE04A;
	content: "Разрешить адрес";
	cursor: pointer;
}
*/
#output{
	height: 180px;
	overflow-y: scroll;
}

#button{
	background-color: #97AF9D;
	cursor: pointer;
}